/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selector */
p {
    line-height: 1.6;
    color: #333333;
}

/* Class Selector */
.spot-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

/* Descendant Combinator */
.spot-card h3 {
    margin-top: 0;
    color: tomato;
}

/* Child Combinator */
.spot-card > h3 {
    margin-top: 0;
    color: dodgerblue;
}

/* Pseudo-class Selector */
.spot-card:hover {
    background-color: #5fbffb58;
}

/* Accessible Focus Selector */
input:focus {
    outline: 2px solid tomato;
    /* outline-offset: 2px; */
}

.box1 {
    box-sizing: border-box;
    width: 200px;
    border: 5px solid tomato;
    padding: 20px;
    margin: 15px;
    margin-bottom: 0;
    display: inline-block;
}
.box2 {
    box-sizing: border-box;
    width: 200px;
    border: 5px solid dodgerblue;
    margin-top: 0;
    display: inline-block;
}